@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-8 {
    width: 66.667%;
    padding: 0 -15px;
}

.col-6 {
    width: 50%;
    padding: 0 -15px;
}

.col-4 {
    width: 33.333%;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-2 {
    width: 22.222%;
    padding: 0 15px;
}

.main {
    background: #2d2013;
}

img {
    max-width: 100%;
}

.meal-title {
    text-align: center;
    color: #d57d1f;
    margin-bottom: 20px;
}

.meal:hover .meal-title {
    color: rgb(245, 172, 94);
}

.meal-desc {
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.ms {
    margin-left: 30px;
}

.bold {
    font-weight: 600;
}
.alphabet {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #a46e1f;
    text-decoration: none;
    margin: 0 auto;
}
.alphabet:hover {
    color: rgb(245, 172, 94);
}
.alphabet span {
    font-weight: 900;
    color: white;
    padding: 0 5px;
}
.center {
    text-align: center;
}
.player {
    width: 120%!important;
}
.instructions {
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 0 300px;
}
.welcome {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
}



