
@media (max-width: 1200px){
    .container {
        max-width: 960px;
    }
    .search-btn {
        right: 287px;
    }
    .form-input {
        width: 32%;
    }
    .instructions {
        padding: 0 150px;
    }

}
@media (max-width: 992px) {
    .container {
        max-width: 730px;
    }
    .col-6 {
        width: 100%;
    }
    .col-3 {
        width: 33.333%;
    }
    .col-4 {
        width: 33.333%;
        margin: auto;
    }
    .search-btn {
        right: 182px;
    }
    .form-input {
        width: 40%;
    }
    .welcome {
        display: block;
    }
    .instructions {
        padding: 0 100px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .col-6 {
        width: 100%;
    }
    .col-3 {
        width: 50%;
    }
    .col-4 {
        width: 50%;
        margin: auto;
    }
    .welcome {
        display: block;
    }
    .search-btn {
        right: 111px;
    }
    .form-input {
        width: 45%;
    }
    .instructions {
        padding: 0;
    }
}
@media (max-width: 576px) {
    .container {

    }
    .col-6 {
        width: 100%;
    }
    .col-3 {
        width: 50%;
    }
    .col-4 {
        width: 50%;
        margin: auto;
    }
    .welcome {
        display: block;
    }
    .alphabet {
        font-size: 16px;
    }
    .ms {
        margin-left: 0;
    }
    .player {
        margin-top: 30px;
    }
    .search-btn {
        right: 111px;
    }
    .form-input {
        width: 45%;
    }
    .instructions {
        padding: 0;
    }
}